<div class="bigscreen-layers">
  <%= captionLayer.render() %>
</div>

<div class="bigscreen-controls">
  <%= playButton.render() %>
  <%= pauseButton.render() %>
  <%= progressControl.render() %>
  <% if(playbackRateControl) { %>
    <%= playbackRateControl.render() %>
  <% } %>
  <%= captionControl.render() %>
  <%= fullscreenControl.render() %>
</div>
